*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    margin:auto;
}

.header{
    background-color: #1F2937;
    padding:12px;
    display: flex;
    flex-direction: column;
    margin:0px 0px 0px 0px;
}
    /* Navbar Start*/
.navbar{
    display:flex;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    flex:1;
    padding-left: 10%;
}

.right-links{
    font-size: 18px;
    color: #E5E7EB;
    display:flex;
    flex:1;
    justify-content: flex-end;
    padding-right: 10%;
}

ul{
   list-style: none;
   display:flex;
   gap:12px; 
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

    /* Navbar End*/

.hero{
    display:flex;
    padding-bottom: 50px;
}

.header-left{
    flex:1;
    display:flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.header-main{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 0px;
}

.header-secondary{
    font-size: 18px;
    color: #E5E7EB;
}
.header-btn{
    border-width: 0;
}

/* General Button setup */

button{
    background-color: #3882F6;
    height: 35px;
    width:125px;
    border-radius: 10px;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 18px;
}
button:hover{
    cursor: pointer;
}


.header-right{
    padding-right: 10%;
}

.header-img{
    width:400px;
    height: auto;
    flex:1;
}
